<!DOCTYPE html>
<html lang="en" xmlns:th="'http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>시간표 입력</h2>
<form method="POST" action="/scheduleList/scheduleInsertFriday">
    <label th:for="firstLesson">1교시 : </label>
    <input type="text" name="firstLesson" size="50"/><br/>
    <label th:for="secondLesson">2교시 : </label>
    <input type="text" name="secondLesson" size="50"/><br/>
    <label th:for="thirdLesson">3교시 : </label>
    <input type="text" name="thirdLesson" size="50"/><br/>
    <label th:for="fourthLesson">4교시 : </label>
    <input type="text" name="fourthLesson" size="50"/><br/>
    <label th:for="fifthLesson">5교시 : </label>
    <input type="text" name="fifthLesson" size="50"/><br/>
    <label th:for="sixthLesson">6교시 : </label>
    <input type="text" name="sixthLesson" size="50"/><br/>
    <label th:for="seventhLesson">7교시 : </label>
    <input type="text" name="seventhLesson" size="50"/><br/>
    <label th:for="eighthLesson">8교시 : </label>
    <input type="text" name="eighthLesson" size="50"/><br/>
    <label th:for="ninthLesson">9교시 : </label>
    <input type="text" name="ninthLesson" size="50"/><br/>
    <label th:for="tenthLesson">10교시 : </label>
    <input type="text" name="tenthLesson" size="50"/><br/>
    <input type="submit" value="AddSchedule"/>
</form>
</body>
</html>